<h1>{{ title }}</h1>
<div class="container">
  <form class="form-container" (ngSubmit)="addTodo()">
    <div class="form-body">
      <input
        class="form-input"
        type="text"
        id="text"
        name="text"
        [(ngModel)]="text"
        placeholder="Insert One..."
      />
      <button class="add"><i class="fas fa-plus"></i></button>
    </div>
  </form>

  <div class="item-list">
    <ul *ngFor="let item of activities; let index = index">
      <li>
        {{ index + 1 }} - {{ item.name }}
        <i (click)="deleteTodo(item.id)" class="fas fa-times cross"></i>
      </li>
    </ul>
  </div>
</div>
